<div class="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Daftar Buku</h4>
                    </div>
                    <div class="card-body">
                        <a href="#" style="margin-bottom: 10px;" class="btn btn-primary">Add Data</a>&nbsp;
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Judul Buku</th>
                                    <th>Pengarang</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let iBuku of buku">
                                <tr (click)="onSelectBuku(iBuku)">
                                    <td>{{iBuku.judul}}</td>
                                    <td>{{ iBuku.pengarang }}</td>
                                    </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-buku-detail [buku]="selectedBuku"></app-buku-detail>
            </div>
        </div>
        <ng-template #bukuKosong>
            <p>Data Buku Tidak Ada!</p>
        </ng-template>
    </div>
  </div>