        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Daftar Buku</h4>
                    </div>
                    <div class="card-body">
                        <div style="margin-bottom: 20px;">
                        <a routerLink="/bukuForm" class="btn btn-primary">Add Data</a>
                        </div>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Judul Buku</th>
                                    <th>Pengarang</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let iBuku of buku">
                                <tr>
                                    <td>{{iBuku.judul}}</td>
                                    <td>{{ iBuku.pengarang }}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="btn btn-dark">Action</button>
                                            <div class="btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                <a class="dropdown-item" style="color: black;" (click)="onSelectBuku(iBuku)" ><i class="fa fa-pencil"></i> Edit</a>
                                                <a (click)="delete(iBuku)" style="color: black;" class="dropdown-item"> <i class="fa fa-close"></i> Delete</a>
                                              </div>
                                            </div>
                                          </div>
                                    </td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-buku-detail [buku]="selectedBuku"></app-buku-detail>
            </div>
        </div>
        <ng-template #bukuKosong>
            <p>Data Buku Tidak Ada!</p>
        </ng-template>