<div class="content" role="main">
    <div class="container">

        <div class="card">
            <div class="card-header">
                <h4>Daftar Buku</h4>
            </div>
            <div class="card-body">
                <a href="#" style="margin-bottom: 10px;" class="btn btn-primary">Add Data</a>&nbsp;
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>ISBN</th>
                            <th>Nama Buku</th>
                            <th>Nama Pengarang</th>
                            <th>Nama Penerbit</th>
                            <th>Tanggal Terbit</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>ISBN-08243</td>
                            <td>Statistika dan Probabilitas</td>
                            <td>Vicky T</td>
                            <td>Cv. Penerbit Depok</td>
                            <td>03 Januari 2012</td>
                            <td>
                                <a href="">Edit</a>&nbsp;
                                <a href="">Hapus</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>ISBN-08243</td>
                            <td>Statistika dan Probabilitas</td>
                            <td>Vicky T</td>
                            <td>Cv. Penerbit Depok</td>
                            <td>03 Januari 2012</td>
                            <td>
                                <a href="">Edit</a>&nbsp;
                                <a href="">Hapus</a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>ISBN-08243</td>
                            <td>Statistika dan Probabilitas</td>
                            <td>Vicky T</td>
                            <td>Cv. Penerbit Depok</td>
                            <td>03 Januari 2012</td>
                            <td>
                                <a href="">Edit</a>&nbsp;
                                <a href="">Hapus</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
  </div>