<div class="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Daftar Pelanggan</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Kode Pelanggan</th>
                                    <th>Nama</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let iPelanggan of pelanggan">
                                <tr (click)="onSelectPelanggan(iPelanggan)">
                                    <td>{{ iPelanggan.kodepel }}</td>
                                    <td>{{ iPelanggan.nama }}</td>
                                    </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-pelanggan-detail [pelanggan]="selectedPelanggan"></app-pelanggan-detail>
            </div>
        </div>
    </div>
  </div>