        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Daftar Pelanggan</h4>
                    </div>
                    <div class="card-body">
                        <a routerLink="/pelangganForm" class="btn btn-primary">Add Data</a><br><br>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Kode Pelanggan</th>
                                    <th>Nama</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let iPelanggan of pelanggan">
                                <tr>
                                    <td>{{ iPelanggan.kodepel }}</td>
                                    <td>{{ iPelanggan.nama }}</td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                            <button type="button" class="btn btn-dark">Action</button>
                                            <div class="btn-group" role="group">
                                              <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" style="">
                                                <a class="dropdown-item" style="color: black;" (click)="onSelectPelanggan(iPelanggan)" ><i class="fa fa-pencil"></i> Edit</a>
                                                <a (click)="delete(iPelanggan)" style="color: black;" class="dropdown-item"> <i class="fa fa-close"></i> Delete</a>
                                              </div>
                                            </div>
                                          </div>
                                    </td>
                                    </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <app-pelanggan-detail [pelanggan]="selectedPelanggan"></app-pelanggan-detail>
            </div>
        </div>